 <body class="u-body u-xl-mode" data-lang="en">
   <script class="u-script" type="text/javascript" src="https://www.hypeds.com/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="https://www.hypeds.com/js/HypedLib.js" defer=""></script>
    <link rel="stylesheet" href="https://www.hypeds.com/css/Redirect.css" media="screen">
   <meta http-equiv="refresh" content="6; <%= redirectURL %>"/>
    <section class="u-align-center u-clearfix u-grey-90 u-section-1" id="sec-388e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="https://www.hypeds.com/images/hyped.png" alt="" data-image-width="640" data-image-height="642" data-href="https://hpd.ink">
        <h1 class="u-text u-text-default-xl u-text-1">Aguarde, estamos te redirecionando . . .</h1>
      </div>
    </section>
    <section class="u-clearfix u-grey-80 u-section-2" id="sec-ec33">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width u-image u-image-default u-image-1" src="<%= adImageUrl %>" alt="" data-image-width="1920" data-image-height="1080">
        <a href="<%= redirectURL %>" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-6 u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="3000">Pule o anúncio</a>
      </div>
    </section>
  
</body>